/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*Hero patterns (for background for instance)*/

html {
    box-sizing: border-box;
}

/*Navigation ----------------------------------*/
body {
    margin:0;
    min-height: 100vh;
    background-color: #c9ced3;
    font-family: League Spartan, sans-serif;
}

.nav-wrapper {
    height: 50px;
    width: 100%;
    background-color: black;
}

.nav {
    display: flex;
    align-items: center;
    position:relative;
    top:13px;
}

.nav-title {
    font-size: 28px;
    margin: 0;
    margin-left: 25px;
    color: white;
}

.nav-wrapper i {
    color: #1db954;
    font-size: 25px;
    position: relative;
    top:-5px;
    left: 10px;
}

/*Search container ----------------------------------*/

.search-container {
    position: absolute;
    top: 60px;
    left: 20px;
}

/*Main container ------------------------------------*/

.page-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 50px);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 500px);
    height: calc(100% - 100px);
    margin: 0 auto;
    margin-top: 75px;
    padding: 20px;
    box-sizing: border-box;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-top: 75px;
}

/*Player container ----------------------------------*/

/*Player*/

.player {
    height: 400px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

/*Queue*/

.queue {
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    height: calc(100% - 450px);
    width: 400px;
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
}